## Introduction

This exercise is performed to check the performance of the following Classifiers using the K_Fold Cross Validation check.
1. Decision Tree (previously modelled)
2. Support Vector Machine (SVC)
3. Random Forest

We are also going to see whether using a differnt parameters on the Decision Tree e.g. *max_leaf_nodes* and *class_weight* will help improve the model accuracy.

The K_Fold cross validation is a technique to *evaluate model performance*. We will use this technique to decide which type of model should be applied on the **patient_no_show** data to get maximum accuracy.

*Reminder*: We are creating a model to predict **if patients fail to show up to their doctor appointments**.

In [6]:
#importing required libraries

import pandas as pd
import numpy as no

#importing sklearn libraries

from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import LabelEncoder

from sklearn import tree  #Decision Tree
from sklearn.svm import SVC  #Support Vector Machine
from sklearn.ensemble import RandomForestClassifier  #Random Forest

In [3]:
#importing the data into a df

df = pd.read_csv('no_show_data_clean.csv')

In [5]:
df.head()

,patientid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no_show
0,2.987250e+13,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,No

### Cleaning data

In [7]:
df_clean = df.copy()

In [8]:
#label encoding categorical variables and target variable

le_gender = LabelEncoder()
le_neighbourhood = LabelEncoder()
le_no_show = LabelEncoder()

In [10]:
df_clean['gender_n'] = le_no_show.fit_transform(df_clean['gender'])
df_clean['neighbourhood_n'] = le_no_show.fit_transform(df_clean['neighbourhood'])
df_clean['no_show_n'] = le_no_show.fit_transform(df_clean['no_show'])

In [12]:
df_clean.head()

,patientid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no_show,gender_n,neighbourhood_n,no_show_n
0,2.987250e+13,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,No,0,39,0
1,5.589978e+14,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,No,1,39,0
2,4.262962e+12,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,No,0,45,0
3,8.679512e+11,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,0,54,0
4,8.841186e+12,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,No,0,39,0

In [15]:
#dropping the extra columns not required in modelling

df_clean.drop(['patientid', 'gender', 'scheduledday', 'appointmentday', 'neighbourhood', 'no_show'], axis = 1, inplace = True)

In [16]:
df_clean.head()

,age,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,gender_n,neighbourhood_n,no_show_n
0,62,0,1,0,0,0,0,0,39,0
1,56,0,0,0,0,0,0,1,39,0
2,62,0,0,0,0,0,0,0,45,0
3,8,0,0,0,0,0,0,0,54,0
4,56,0,1,1,0,0,0,0,39,0

In [21]:
#saving the csv as modelling_data file for future modelling needs

df_clean.to_csv('no_show_data_modelling.csv', index = False)

In [20]:
#calculating the Event Rate i.e. no. of 0s and 1s in the target variable

df_clean.groupby('no_show_n').size()

no_show_n
0    88207
1    22319
dtype: int64

Seeing that the **Event Rate** is **20%** (not 50%), we will have to use *class_weight* parameter in Decision Tree as *balanced*